<div class=" mt-4">
    <h1 class="text-center pt-4">Find Wifi Hotspots</h1>
    <div class="mt-2">
      <form #myForm="ngForm" (ngSubmit)="searchWifiHotSpot(myForm)" class="d-flex justify-content-center mt-3" id="top">
        <input type="text" [(ngModel)]="searchterm" name="Name" id="search-input" placeholder="Please Enter Street Name" class="mr-1" style="width: 20vw">
        <button type="submit" class="btn btn-info"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <div class=" d-flex justify-content-center mt-5">
    <div id="map"></div>
  </div>
  </div>
