<div class="container" style="width: 70%; margin: auto; display: block;">
  <section id="headline">
    <div class="contact-headline container bg-transparent">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-headline">
            <h1 class="text-dark text-center text-capitalize font-weight-bold">Meet The Developers</h1>
          </div>
        </div>
      </div>
      <br>
    </div>
  </section>
  <br>
  <div class="card-deck">
    <div class="col-6">
      <div class="card border-0 bg-transparent" style="width: 18rem;">
        <img src="https://avatars0.githubusercontent.com/u/46818235?s=400&v=4"
          class="card-img-top rounded-circle text-center headshot" alt="Rubi Kuo">
        <div class="card-body">
          <h5 class="card-title text-center">Rubi Kuo</h5>
          <p class="card-text text-center">I changed my life path to become a front-end developer in 2019. I enjoy every
            step I take in this journey. </p>
          <!--<a href="https://github.com/rubikuo" class="btn btn-outline-info">GitHub</a>
                    <a href="https://www.linkedin.com/in/ju-i-kuo-88688584/" class="btn btn-outline-info">LinkedIn</a>-->
          <div class="text-center">
            <a href="https://github.com/rubikuo" target="_blank"><i class="fab fa-github fa-2x mr-3"></i></a>
            <a href="https://www.linkedin.com/in/ju-i-kuo-88688584/" target="_blank"><i
                class="fab fa-linkedin fa-2x mr-3"></i></a>
            <a href="mailto:rubitiara@gmail.com"><i class="fas fa-envelope fa-2x"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card border-0 bg-transparent" style="width: 18rem;">
        <img
          src="https://avatars1.githubusercontent.com/u/46818329?s=400&u=8d8430e61c356a261ab7eaf6f4e51ace0cf3224c&v=4"
          class="card-img-top rounded-circle text-center headshot" alt=" Ada Timko">
        <div class="card-body">
          <h5 class="card-title text-center">Ada Timko</h5>
          <p class="card-text text-center">I study front-end development in Helsingborg since
            January 2019. I burn for languages and structure in them. </p>
          <!--<a href="https://github.com/Hirschbaum" class="btn btn-outline-info">GitHub</a>
                        <a href="https://se.linkedin.com/in/adrienn-timko-20569a82" class="btn btn-outline-info">LinkedIn</a>-->
          <div class="text-center">
            <a href="https://github.com/Hirschbaum" target="_blank"><i class="fab fa-github fa-2x mr-3"></i></a>
            <a href="https://se.linkedin.com/in/adrienn-timko-20569a82" target="_blank"><i
                class="fab fa-linkedin fa-2x mr-3"></i></a>
            <a href="mailto:adrienn.timko@gmail.com"><i class="fas fa-envelope fa-2x"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
